<div class="d-flex justify-content-between align-items-center">
  <h1 class="my-4"><%= @list.name %></h1>
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @list.movies.each do |movie| %>
    <div class="col">
      <div class="card-product">
        <img src="<%= movie.poster_url %>" />
        <div class="card-product-infos">
          <h3><%= movie.title %></h3>
          <h2><i class="fa-solid fa-star" style="color: #FFD43B;"></i> <%= movie.rating %></h2>
          <p><%= movie.overview %></p>
          <p class = "fst-italic"><i class="fa-solid fa-bookmark" style="color: #FFD43B;"></i> <%= movie.bookmarks.find_by(list_id: @list.id).comment %></p>
        </div>
        <div>
          <%= link_to bookmark_path(movie.bookmarks.find_by(list_id: @list.id)), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-circle-xmark m-2" style="color: #e0691a;"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
